
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&family=Ubuntu:wght@400;500;700&display=swap');

        * {
        /*font-family: 'Poppins', sans-serif;*/
        /*font-family: 'Righteous', cursive;*/
        /*font-family: 'Ubuntu', sans-serif;*/
        /*font-family: 'Jost', sans-serif;*/
        /*font-family: 'Urbanist', sans-serif;*/
        /*font-family: 'Ubuntu Condensed', sans-serif;*/
        /*  font-family: 'Outfit', sans-serif;*/
         box-sizing: border-box;
         margin: 0;
         padding: 0;
         /*background: var(--bg-color4);*/
        }

    :root {
        --bg-color: #ffffff;
        --bg-color2: rgba(0,0,0,0.6);
        --bg-color3: #fefbd8;
        --bg-color4: #f5f5f5;
        --bg-color5: #d3d3d3;
        --text-color: #000000;
        --second-color: #a09dab;
        --third-color: #ff4500;
        --4th-color: #4b4b4b;
        --5th-color: #1b1b1b1b;
        --main-color: #f75023;
        --main-color3: #880808;
        --red-color: #800;
        --big-font:5rem;
        --h1-font:3.5rem;
        --h2-font:3rem;
        --h5-font:20px;
        --p-font:1.1rem;
        --Poppins-font: 'Poppins', sans-serif;
        --Righteous-font: 'Righteous', cursive;
        --ubuntu-font: 'Ubuntu', sans-serif;
        --Jost-font: 'Jost', sans-serif;
        --Urbanist-font:'Urbanist', sans-serif;
        --Condensed-font: 'Ubuntu Condensed', sans-serif;
        --outfit-font:'Outfit', sans-serif;
        --box-shadow: 10px 10px 5px rgba(0,0,0,.3);
    }

/*===HEADER CSS-------------------------------------------------------------------------------------------------------*/

    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 80px;
    }

    header {
        width: 100%;
        background: var(--bg-color4);
        position: fixed;
        padding: 1.5rem 0;
        font-family: var(--ubuntu-font);
    }

    .header-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-navbar .logo img {
        width: 120px;
        display: block;
        object-fit: cover;
    }

    .header-navbar nav {
        display: flex;
        align-items: center;
    }

    .header-navbar nav li {
        list-style: none;
        margin: 0 1rem;
    }

    .header-navbar nav li a {
        font-size: 1rem;
        color: var(--main-color3);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        padding: 0.5rem 0.5rem;
    }

    .header-navbar nav li a:hover {
        color: var(--main-color);
        background: black;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: ease .40s;
    }

    .btn {
        font-size: 2.5rem;
        color: var(--text-color);
        cursor: pointer;
        display: none;
    }

/*===HEADER MEDIA QUERY CSS-------------------------------------------------------------------------------------------*/

    @media (max-width: 1070px) {
        .container {
            padding: 0 50px;
        }
    }

    @media (max-width: 900px) {
        .header-navbar nav li a {
            font-size: 0.8rem;
        }

        .btn {
            display: block;
        }

        .container {
            padding: 0 40px;
        }

        .header-navbar nav {
            flex-direction: column;
            position: fixed;
            min-width: 100%;
            min-height: 60vh;
            top: 0;
            right: 100%;
            align-items: center;
            justify-content: center;
            background: var(--text-color);
            transition: all 0.5s ease-in-out;
        }

        nav.active {
            right: 0%;
            transition: all 1s ease-in;
        }

        .header-navbar nav li {
            margin: 3rem 4rem;
        }

        .header-navbar nav li a {
            font-size: 1.5rem;
            color: var(--bg-color);
            position: relative;
        }

        .close-btn {
            position: absolute;
            top: 0;
            left: 88%;
            color: var(--bg-color);
            margin: 50px;
        }

        .hero-sec .hero-sec-content h2 {
            font-size: 0.5rem;
            margin-top: 50px;
        }

        .hero-sec .hero-sec-content h3 {
            margin-top: 20px;
        }
    }


/*===HERO SECTION CSS-------------------------------------------------------------------------------------------------*/

    .hero-sec {
        font-family: var(--Poppins-font);
        background: url("Gallery/Board_1.jpg") no-repeat center center/cover;
        min-height: 90vh;
        position: relative;
        z-index: -10;
    }

    .hero-sec::before {
        content: '';
        background: var(--bg-color2);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -11;
    }

    .hero-sec .hero-sec-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 80vh;
        padding: 1.5rem 0;
    }

    .hero-sec .hero-sec-content img {
        margin-top: 170px;
        width: 35%;
    }

    .hero-sec .hero-sec-content h2 {
        font-size: var(--h2-font);
        text-transform: uppercase;
        color: var(--bg-color);
        font-family: var(--Urbanist-font);
        text-align: center;
        letter-spacing: 1px;
        margin-top: 30px;
    }

    .hero-sec .hero-sec-content h3 {
        font-size: 1.8rem;
        margin-top: 10px;
        text-transform: uppercase;
        /*color: var(--bg-color5);*/
        color: #faf9f6;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }

/*===OFFERS SECTION CSS-----------------------------------------------------------------------------------------------*/

    #sp-offers {
        padding: 10rem 0;  /*adds space 10rem top and bottom, 0 space right to left*/
        background: var(--bg-color);
    }

    .sp-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        grid-gap: 4rem;
    }

    .headings h2 {
        font-size: var(--h2-font);
        text-transform: capitalize;
        color: #880808;
        font-family: var(--Righteous-font);
    }

    .headings h3 {
        font-size: 2rem;
        text-transform: capitalize;
        font-family: var(--Righteous-font);
    }

    .imgs-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;
    }

    .imgs {
        display: flex;
        align-items: center;
    }

    .imgs img {
        display: block;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #880808;
        border-left: 3px solid #000000;
        border-bottom: 3px solid #f75023;
        border-top: 3px solid #880000;
    }

    .content-for-img {
        padding-left: 3rem;
    }

    .content-for-img h4 {
        font-size: 1rem;
        padding-block-end: 0.5rem;
        font-family: var(--Urbanist-font);
        text-transform: capitalize;
        font-weight: 600;
    }

    .content-for-img p {
        font-family: var(--ubuntu-font);
        line-height: 1.5;
    }

    .imgs-content .prices {
        font-family: var(--outfit-font);
        font-weight: 600;
        font-size: 0.9rem;
        border: 1px solid #f75023;
        padding: 0.5rem;
        border-radius: 50%;
        line-height: 1;
        background: var(--text-color);
        color: var(--bg-color);
    }

    .right-side-content {
        width: 100%;
    }

    .right-side-content img {
        display: block;
        object-fit: cover;
        margin-left: auto;
        width: 100%;

    }




    /*.offers-sec {*/
    /*    background: var(--5th-color);*/
    /*    padding: 10rem 0;*/
    /*}*/

    /*.offers-side-content {*/
    /*    display: grid;*/
    /*    grid-template-columns: repeat(2, 1fr);*/
    /*    width: 100%;*/
    /*    grid-gap: 3rem;*/
    /*}*/

    /*.lsc-heading h2 {*/
    /*    font-size: var(--h2-font);*/
    /*    text-transform: capitalize;*/
    /*    color: #880808;*/
    /*    font-family: var(--Righteous-font);*/
    /*    margin-bottom: 25px;*/
    /*}*/

    /*.lsc-heading h3 {*/
    /*    font-size: 2rem;*/
    /*    text-transform: capitalize;*/
    /*}*/

    /*.img-content {*/
    /*    display: flex;*/
    /*    justify-content: space-between;*/
    /*    align-items: center;*/
    /*    padding: 3rem 0;*/
    /*}*/

    /*.images {*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*}*/

    /*.images img {*/
    /*    display: block;*/
    /*    object-fit: cover;*/
    /*    width: 30%;*/
    /*}*/

    /*.img-content-left {*/
    /*    padding-left: 3rem;*/
    /*}*/

    /*.img-content-left h4 {*/
    /*    font-size: 1.5rem;*/
    /*    padding-block-end: 0.5rem;*/
    /*}*/

    /*.img-content-left p {*/
    /*    font-size: 1rem;*/
    /*    line-height: 1.5;*/
    /*}*/

    /*.img-content .prices {*/
    /*    font-size: 0.9rem;*/
    /*    font-weight: 600;*/
    /*    text-transform: uppercase;*/
    /*    border: 1px solid #880808;*/
    /*    border-radius: 50%;*/
    /*    padding: 8px;*/
    /*    text-align: center;*/
    /*}*/

    /*.right-side-content {*/
    /*    width: 100%;*/
    /*    background: var(--bg-color);*/
    /*}*/

    /*.right-side-content img {*/
    /*    display: block;*/
    /*    object-fit: cover;*/
    /*    margin-left: auto;*/
    /*    width: 100%;*/
    /*}*/





