
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&family=Ubuntu:wght@400;500;700&display=swap');

        * {
        /*font-family: 'Poppins', sans-serif;*/
        /*font-family: 'Righteous', cursive;*/
        /*font-family: 'Ubuntu', sans-serif;*/
        /*font-family: 'Jost', sans-serif;*/
        /*font-family: 'Urbanist', sans-serif;*/
        /*font-family: 'Ubuntu Condensed', sans-serif;*/
        /*font-family: 'Outfit', sans-serif;*/
        /*font-family: 'Tilt Neon', cursive;*/
        /*font-family: 'Heebo', sans-serif;*/
         box-sizing: border-box;
         margin: 0;
         padding: 0;
         /*background: var(--bg-color4);*/
        }

    :root {
        --bg-color: #ffffff;
        --bg-color2: rgba(0,0,0,0.6);
        --bg-color3: #fefbd8;
        --bg-color4: #f5f5f5;
        --bg-color5: #d3d3d3;
        --text-color: #000000;
        --second-color: #a09dab;
        --third-color: #ff4500;
        --4th-color: #4b4b4b;
        --5th-color: #1b1b1b1b;
        --main-color: #f75023;
        --main-color3: #880808;
        --red-color: #800;
        --big-font:5rem;
        --h1-font:3.5rem;
        --h2-font:3rem;
        --h5-font:20px;
        --p-font:1.1rem;
        --Poppins-font: 'Poppins', sans-serif;
        --Righteous-font: 'Righteous', cursive;
        --ubuntu-font: 'Ubuntu', sans-serif;
        --Jost-font: 'Jost', sans-serif;
        --Urbanist-font:'Urbanist', sans-serif;
        --Condensed-font: 'Ubuntu Condensed', sans-serif;
        --outfit-font:'Outfit', sans-serif;
        --tilt-font:'Tilt Neon', cursive;
        --heebo-font:'Heebo', sans-serif;
        --box-shadow: 10px 10px 5px rgba(0,0,0,.3);
    }

    html {
        scroll-behavior: smooth;
    }

/*===HEADER CSS-------------------------------------------------------------------------------------------------------*/

    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 80px;
    }

    header {
        width: 100%;
        background: var(--bg-color4);
        position: fixed;
        padding: 1.5rem 0;
        font-family: var(--ubuntu-font);
        z-index: 100;
    }

    .header-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-navbar .logo img {
        width: 120px;
        display: block;
        object-fit: cover;
    }

    .header-navbar nav {
        display: flex;
        align-items: center;
    }

    .header-navbar nav li {
        list-style: none;
        margin: 0 1rem;
    }

    .header-navbar nav li a {
        font-size: 1rem;
        color: var(--main-color3);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        padding: 0.5rem 0.5rem;
    }

    .header-navbar nav li a:hover, .active-link {
        color: var(--main-color);
        background: black;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: ease .40s;
    }

    .btn {
        font-size: 2.5rem;
        color: var(--text-color);
        cursor: pointer;
        display: none;
    }

/*===HEADER MEDIA QUERY CSS-------------------------------------------------------------------------------------------*/

    @media (max-width: 1070px) {
        .container {
            padding: 0 50px;
        }

        .imgs-content {
            padding: 1rem 0;
        }

        .imgs-content .prices {
            margin-left: 30px;
        }

        .form-data {
            width: 70%;
        }
    }

    @media (max-width: 900px) {
        .header-navbar nav li a {
            font-size: 0.8rem;
        }

        .btn {
            display: block;
        }

        .container {
            padding: 0 40px;
        }

        .header-navbar nav {
            flex-direction: column;
            position: fixed;
            min-width: 100%;
            min-height: 60vh;
            top: 0;
            right: 100%;
            align-items: center;
            justify-content: center;
            background: var(--text-color);
            transition: all 0.5s ease-in-out;
        }

        nav.active {
            right: 0;
            transition: all 1s ease-in;
        }

        .header-navbar nav li {
            margin: 3rem 4rem;
        }

        .header-navbar nav li a {
            font-size: 1.5rem;
            color: var(--bg-color);
            position: relative;
        }

        .close-btn {
            position: absolute;
            top: 0;
            left: 88%;
            color: var(--bg-color);
            margin: 50px;
        }

        .hero-sec .hero-sec-content h2 {
            font-size: 0.5rem;
            margin-top: 50px;
        }

        .hero-sec .hero-sec-content h3 {
            margin-top: 20px;
        }
    }


    @media (max-width: 768px) {
        .sp-content {
            flex-direction: column;
        }

        .form-data {
            width: 100%;
        }

        #booking-section .form-data form input {
            width: 100%;
        }
    }

/*===HERO SECTION CSS-------------------------------------------------------------------------------------------------*/

    .hero-sec {
        font-family: var(--Poppins-font);
        background: url("Gallery/Board_1.jpg") no-repeat center center/cover;
        min-height: 90vh;
        position: relative;
        z-index: -10;
    }

    .hero-sec::before {
        content: '';
        background: var(--bg-color2);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -11;
    }

    .hero-sec .hero-sec-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 80vh;
        padding: 1.5rem 0;
    }

    .hero-sec .hero-sec-content img {
        margin-top: 170px;
        width: 35%;
    }

    .hero-sec .hero-sec-content h2 {
        font-size: var(--h2-font);
        text-transform: uppercase;
        color: var(--bg-color);
        font-family: var(--Urbanist-font);
        text-align: center;
        letter-spacing: 1px;
        margin-top: 30px;
    }

    .hero-sec .hero-sec-content h3 {
        font-size: 1.8rem;
        margin-top: 10px;
        text-transform: uppercase;
        /*color: var(--bg-color5);*/
        color: #faf9f6;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }

/*===OFFERS SECTION CSS-----------------------------------------------------------------------------------------------*/

    .sp-offers {
        padding: 10rem 0;  /*adds space 10rem top and bottom, 0 space right to left*/
        background: var(--bg-color);
    }

    .sp-content {
        display: flex; /*This can also be display: grid */
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        grid-gap: 4rem;
    }

    .headings h2 {
        font-size: var(--h2-font);
        text-transform: capitalize;
        color: #880808;
        font-family: var(--Righteous-font);
    }

    .headings h3 {
        font-size: 2rem;
        text-transform: capitalize;
        font-family: var(--Righteous-font);
    }

    .imgs-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;
    }

    .imgs {
        display: flex;
        align-items: center;
    }

    .imgs img {
        display: block;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #880808;
        border-left: 3px solid #000000;
        border-bottom: 3px solid #f75023;
        border-top: 3px solid #880000;
    }

    .content-for-img {
        padding-left: 3rem;
    }

    .content-for-img h4 {
        font-size: 1rem;
        padding-block-end: 0.5rem;
        font-family: var(--Urbanist-font);
        text-transform: capitalize;
        font-weight: 600;
    }

    .content-for-img p {
        font-family: var(--ubuntu-font);
        line-height: 1.5;
    }

    .imgs-content .prices {
        font-family: var(--outfit-font);
        font-weight: 600;
        font-size: 0.9rem;
        border: 1px solid #f75023;
        padding: 0.5rem;
        border-radius: 50%;
        line-height: 1;
        background: var(--text-color);
        color: var(--bg-color);
        margin-left: 2rem;
        cursor: pointer;
    }

    .imgs-content .prices:hover {
        background: var(--main-color);
        color: var(--text-color);
        border: 1px solid #880000;
    }

    .right-side-content {
        width: 100%;
    }

    .right-side-content img {
        display: block;
        object-fit: cover;
        margin-left: auto;
        width: 100%;
    }

/*===BOOKING SECTION CSS--------------- -------------------------------------------------------------------------------*/

    #booking-section {
        background: url("Gallery/Reserved-table.jpg") no-repeat center center/cover;
        /*min-height: 90vh;*/
        padding: 6rem 0;
        text-align: center;
    }

    #booking-section .form-data {
        background: var(--bg-color2);
        color: var(--bg-color);
        width: 100%;
        padding: 4rem;
    }

    #booking-section .form-data h3 {
        font-size: 2rem;
        text-transform: capitalize;
        font-family: var(--Righteous-font);
    }

    #booking-section .form-data h2 {
        font-size: var(--h2-font);
        text-transform: capitalize;
        color: #faf9f6;
        font-family: var(--Righteous-font);

    }

    #booking-section .form-data form {
        /*padding: 4rem 0;*/
        padding: 1.5rem 0;
    }

    #booking-section .form-data form input {
        width: 50%;
        padding: 1rem 0.5rem;
        margin-bottom: 1rem;
        border: none;
        border-radius: 5px;
    }

    #booking-section .form-data form textarea {
        width: 60%;
        padding: 1rem 0.5rem;
        border-radius: 5px;
    }

    #booking-section .form-data form button {
        width: 40%;
        border: none;
        display: inline-block;
        padding: 1rem 0;
        margin-top: 15px;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
        font-family: var(--outfit-font);
        font-size: 20px;
        font-weight: 600;
        transition: all 0.5s ease-in-out;
    }

    #booking-section .form-data form button:hover {
        background: var(--third-color);
        color: var(--bg-color);
    }

/*<!----===DEAL OF THE DAY SECTION CSS------------------------------------------------------------------------------->*/

    #todays-deal {
        padding: 10rem 0;
        /*background: var(--bg-color4);*/
        /*background: url("Gallery/OIP_1.png") no-repeat;*/
    }

    #todays-deal h3 {
        margin-top: 10px;
        text-transform: uppercase;
        color: var(--red-color);
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 20px;
        font-size: 2rem;
        font-family: var(--Righteous-font);
    }

    #todays-deal h2 {
        /*font-size: var(--h2-font);*/
        font-size: 28px;
        text-transform: uppercase;
        color: var(--text-color);
        font-family: var(--Urbanist-font);
        text-align: center;
        letter-spacing: 1px;
        margin-top: 5px;
    }

    #todays-deal .card-content {
        text-align: center;
        font-size: 1.2rem;
    }

    #todays-deal .cards {
        margin: 6rem 0;
    }

    #todays-deal .cards p {
        font-size: 17px;
        font-family: var(--Jost-font);
    }

    #todays-deal .card-content .cards img {
        width: 200px;
        border-radius: 50%;
        border: 2px solid #880808;
        border-left: 4px solid #000000;
        border-bottom: 4px solid #f75023;
        border-top: 4px solid #880000;
    }

    #todays-deal .card-content h4 {
        font-size: 1.2rem;
        padding-block-end: 0.5rem;
        font-family: var(--Urbanist-font);
        text-transform: capitalize;
        font-weight: 600;
        margin-top: 20px;
        color: #860111;
    }

    #todays-deal .card-content .price {
        font-family: var(--outfit-font);
        font-weight: 600;
        font-size: 1.2rem;
        padding: 0.9rem;
        line-height: 1;
        color: #860111;
        text-transform: uppercase;
        text-align: center;
    }

/*----===MENU SECTION CSS------------------------------------------------------------------------------------------>*/

    #menu-sec {
        background: var(--bg-color4);
        padding: 10rem 0;
    }

    #menu-sec h3 {
        margin-top: 10px;
        text-transform: uppercase;
        color: var(--red-color);
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 20px;
        font-size: 2rem;
        font-family: var(--Righteous-font);
    }

    #menu-sec h2 {
        /*font-size: var(--h2-font);*/
        font-size: 28px;
        text-transform: uppercase;
        color: var(--text-color);
        font-family: var(--Urbanist-font);
        text-align: center;
        letter-spacing: 1px;
        margin-top: 5px;
    }

    .menu-sec-container {
        margin: 2rem 0;
    }

    .menu-sec-container .btn-container {
        margin: 3rem 0; /*top - bottom, left - right*/
        width: 100%;
        display: inline-block;
        color: var(--bg-color2);
        text-align: center;
    }

    .btn-cat {
        padding: 0.5rem 1.2rem;
        cursor: pointer;
        margin: 0 2rem;
        border: 1px solid #880000;
        font-size: 0.9rem;
        border-radius: 5px;
        text-transform: uppercase;
        color: var(--bg-color);
        background: var(--text-color);
        transition: all 0.5s ease-in-out;
        font-weight: 600;
    }

    .btn-cat:hover, .active-btn {
        color: var(--text-color);
        background: var(--third-color);
        border: 1px solid #ffffff;
    }

    .menu-items-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }

    .menu-items-container .img-cards {
        border: 2px solid #880808;
        /*border-left: 4px solid #000000;*/
        /*border-bottom: 4px solid #f75023;*/
        /*border-top: 4px solid #880000;*/
        box-shadow: var(--box-shadow);
    }

    .img-cards img {
        display: block;
        width: 100%;
        object-fit: cover;
        margin-bottom: 2rem;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }

    .img-cards p {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 1.5rem ;
        font-family: var(--Righteous-font);
        text-transform: capitalize;
    }

    .img-cards .prices {
        color: #860111;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .img-cards img:hover {
        transform: scale(1.1);
    }

/*===MENU SECTION MEDIA QUERY CSS-------------------------------------------------------------------------------------------*/

    @media (max-width: 768px) {
        .menu-items-container {
            grid-template-columns: repeat(2,1fr);
        }

        .btn-cat {
            margin: 1rem 1rem;  /*creates space (right - left) and (Top to bottom)*/
        }
    }

    @media (max-width: 520px) {
        .menu-items-container {
            grid-template-columns: repeat(1,1fr);
        }
    }

/*----===TESTIMONIAL SECTION CSS--------------------------------------------------------------------------------------*/

    #customer-feedback {
        padding: 10rem 0;
        background: url("Gallery/FeedbackBackground1.jpg") no-repeat center center/cover fixed;
        position: relative;
        /*z-index: 1;*/
        margin: 0 auto;
    }

    #customer-feedback .container {
        margin: 15px;
    }

    #customer-feedback::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.8);
        /*z-index: -2;*/
    }

    #customer-feedback h3 {
        margin-top: 10px;
        text-transform: uppercase;
        color: var(--red-color);
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 20px;
        font-size: 2rem;
        font-family: var(--Righteous-font);
    }

    #customer-feedback h2 {
        /*font-size: var(--h2-font);*/
        font-size: 28px;
        text-transform: uppercase;
        color: var(--bg-color);
        font-family: var(--Urbanist-font);
        text-align: center;
        letter-spacing: 1px;
        margin-top: 5px;
    }

    .customer-cards-container {
        margin: 5rem 0;
        z-index: -1;
    }

    .customer-card {
        background: var(--bg-color);
        text-align: center;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border-radius: 5px;
    }

    .customer-card img {
        display: block;
        object-fit: cover;
        border-radius: 50%;
        width: 250px;
        margin: auto;
    }

    .customer-card p {
        font-size: 1.1rem;
        text-align: justify;
        padding: 1.5rem 0;
        font-family: var(--outfit-font);
    }

    .customer-card p i {
        color: var(--red-color);
    }

    .customer-card .customer-name {
        text-align: center;
        color: var(--red-color);
        font-family: var(--tilt-font);
        font-size: 1.2rem;
        font-weight: 600;
    }

/*----===EVENTS SECTION CSS-------------------------------------------------------------------------------------------*/

    #up-coming-events {
        background: url("Gallery/all-events_1.jpg") no-repeat center center/cover;
        padding: 10rem 0;
    }

    #up-coming-events .container {
        margin: 15px;
    }

    .events-cards-container {
        margin: 6rem 0;
    }

    #up-coming-events h3 {
        margin-top: 10px;
        text-transform: uppercase;
        color: var(--red-color);
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 20px;
        font-size: 2rem;
        font-family: var(--Righteous-font);
    }

    #up-coming-events h2 {
        /*font-size: var(--h2-font);*/
        font-size: 28px;
        text-transform: uppercase;
        color: var(--bg-color);
        font-family: var(--Urbanist-font);
        text-align: center;
        letter-spacing: 1px;
        margin-top: 5px;
    }
        .events-card {
        border: 1px solid var(--bg-color);
            border-radius: 5px;
            box-shadow: var(--box-shadow);
        }

        .events-card img {
            display: block;
            object-fit: cover;
            width: 100%;
        }

        .event-content {
            padding: 2rem;
            text-align: center;
            background: var(--bg-color);
        }

        .event-content p {
            font-size: var(--p-font);
            font-weight: 0;
            text-align: center;
            padding: 1.5rem 0;
            margin-bottom: 20px;
        }

        .event-content a {
            text-transform: uppercase;
            text-decoration: none;
            color: var(--bg-color) ;
            background: var(--text-color);
            padding: 0.5rem ;
            border: 1px solid Var(--main-color);
            border-radius: 5px;
            transition: all 0.5s ease-in-out;
            font-weight: 600;
            font-family: var(--outfit-font);
        }

        .event-content a:hover {
            color: #000000 ;
            background: var(--main-color);
        }

/*----===COUNTER SECTION CSS------------------------------------------------------------------------------------------*/

    #counter-section {
        background: url("Gallery/3353887.jpg") no-repeat center center/cover;
        padding: 10rem 0;
        position: relative;
        z-index: 1;
    }

    #counter-section::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background: var(--bg-color2);*/
        z-index: 1;
    }

    .counters {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        color: var(--bg-color);
        grid-gap: 2rem;
        margin: 0 auto;
        background: var(--bg-color2);
        font-family: var(--outfit-font);
        font-size: 12px;
    }

    .counter {
        border: 1px solid var(--bg-color4);
        padding: 2rem;
        color: var(--bg-color);
        border-radius: 5px;
        text-transform: uppercase;
        font-family: var(--Jost-font);
    }

    .counter h2 {
        /*font-family: 'Roboto', sans-serif;*/
    }

    .num {
        font-size: 4rem;
        color: var(--third-color);
        /*font-family: 'Montserrat', sans-serif;*/
    }

/*----===MEDIA QUERY COUNTER SECTION CSS------------------------------------------------------------------------------*/

    @media (max-width: 768px) {
       .counters {
           grid-template-columns: repeat(2,1fr);
           font-size: 15px;
       }
        .num {
            font-size: 6rem;
        }
    }

    @media (max-width: 520px) {
        .counters {
            grid-template-columns: repeat(1,1fr);
            font-size: 15px;
        }
    }

/*----===OUR CHEF SECTION CSS-----------------------------------------------------------------------------------------*/

    #our-chefs {
        padding: 10rem 0;
    }

    #our-chefs .container {
        margin: 15px;
    }

    #our-chefs .container h3 {
        margin-top: 10px;
        text-transform: uppercase;
        color: var(--red-color);
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 20px;
        font-size: 2rem;
        font-family: var(--Righteous-font);
    }

    #our-chefs #title {
        /*font-size: var(--h2-font);*/
        font-size: 28px;
        text-transform: uppercase;
        font-family: var(--Urbanist-font);
        text-align: center;
        letter-spacing: 1px;
        margin-top: 5px;
    }

    .chef-container {
        margin: 4rem 0;
        text-align: center;
    }

    .chef-cards {
        border-radius: 5px;
        box-shadow: var(--box-shadow);
        /*border: 1px solid var(--main-color);*/
    }

    #chef-name {
        font-size: 1.2rem;
        text-align: center;
        color: var(--red-color);
        font-family: var(--tilt-font);
        font-weight: 600;
        text-transform: capitalize;
    }

    .chef-cards img {
        display: block;
        object-fit: cover;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        width: 80%;
        padding-top: 20px;
        border-radius: 5px;
    }

    .chef-content {
        padding: 2rem 0;
    }

    .position {
        font-size: 1.2rem;
        padding: 0.5rem;
        color: var(--main-color);
        background: var(--text-color);
        margin-top: 10px;
        text-transform: uppercase;
        font-family: var(--tilt-font);
    }

    .social-icons {
        color: var(--red-color);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
    }

    .social-icons i:hover {
        color: var(--third-color);
        background: var(--text-color);
        border-radius: 50%;
    }

    .social-icons i {
        font-size: 30px;
        cursor: pointer;
        padding: 0.5rem;
        transition: all ease-in-out .50s;
    }


/*----===FOOTER SECTION CSS-------------------------------------------------------------------------------------------*/

    /*#footer {*/
    /*    background: #212121;*/
    /*    padding: 10rem 0;*/
    /*    color: #f5f5f5;*/
    /*    font-size: 1.2rem;*/
    /*}*/

    /*#footer .container {*/
    /*    margin: 15px;*/
    /*}*/

    /*#footer .container h2 {*/
    /*    padding-bottom: 2.5rem;*/
    /*    color: var(--main-color);*/
    /*    text-transform: capitalize;*/
    /*}*/

    /*.footer-container {*/
    /*    display: grid;*/
    /*    grid-template-columns: repeat(3, 1fr);*/
    /*    grid-gap: 2rem;*/
    /*}*/

    /*.about-us img {*/
    /*    border-radius: 15px;*/
    /*    background: #d3d3d3;*/
    /*    width: 50%;*/
    /*    display: block;*/
    /*    object-fit: cover;*/
    /*}*/

    /*.about-us p {*/
    /*    line-height: 1.5;*/
    /*    padding-bottom: 2rem;*/
    /*}*/

    /*.about-us a {*/
    /*    color: var(--main-color);*/
    /*}*/

    /*.opening-hours {*/
    /*    line-height: 1.8;*/
    /*    text-transform: capitalize;*/
    /*    padding-bottom: 2rem;*/
    /*}*/

    /*.day {*/
    /*    line-height: 1.8;*/
    /*    text-transform: capitalize;*/
    /*    padding-bottom: 1.5rem;*/
    /*}*/

    /*.contact-us {*/
    /*    line-height: 2;*/
    /*    text-transform: capitalize;*/
    /*}*/

    .footer-sec {
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: flex-end;*/
        /*flex-direction: column;*/
        position: relative;
        background: #212121;
        font-size: 1.2rem;
        color: #f5f5f5;
        width: 100%;
        height: auto;
        font-size: var(--outfit-font);
    }

    .footer-container {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
        max-width: 1320px;
    }

    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-wrapper .footer-widget {
        width: calc(20% - 30px);
        margin: 0 15px 50px;
        padding: 5rem 0;
    }

    .footer-wrapper .footer-widget:nth-child(1) {
        width: calc(40% - 30px);
        margin-right: 15px;
    }

    .footer-wrapper .footer-widget .footer-logo {
        margin-bottom: 30px;
        vertical-align: middle;
        width: 25%;
    }

    .footer-wrapper .footer-widget p {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 24px;
    }

    .footer-wrapper .footer-widget .social-media-icons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .footer-wrapper .footer-widget .social-media-icons li {
        list-style: none;
    }

    .footer-wrapper .footer-widget .social-media-icons li a {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        color: var(--red-color);
        /*background-color: rgba(3, 127, 243 ,0.5);*/
        background: var(--bg-color4);
        border-radius: 50%;
        font-size: 25px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-out;
    }

    .footer-wrapper .footer-widget .social-media-icons li a:hover {
        background: var(--third-color);
        color: var(--bg-color);
        border: 1px solid var(--bg-color2);
    }

    .footer-wrapper .footer-widget h6 {
    }






/*----===COPY RIGHT FOOTER SECTION------------------------------------------------------------------------------------*/

    /*footer {*/
    /*    background: #171717;*/
    /*    text-align: center;*/
    /*    padding: 2rem 0;*/
    /*    font-size: 1.2rem;*/
    /*    color: var(--bg-color);*/
    /*}*/

    /*footer a {*/
    /*    color: var(--main-color);*/
    /*    text-decoration: none;*/
    /*    text-transform: uppercase;*/
    /*}*/
